@model Dish

<div class="modal answer-modal" tabindex="-1" role="dialog" xmlns="http://www.w3.org/1999/html" id="modal-details">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>@Model.Name</h5>
            </div>
            <div class="modal-body">
                <img src="~/@Model.Avatar" alt="" style="width: 100%">
                <p style="margin-top: 20px"><span style="font-weight: 700">Категория </span>- @Model.Category.Name</p>
                @if (Model.SubCategory != null)
                {
                    <p style="margin-top: 20px"><span style="font-weight: 700">Подкатегория </span>- @Model.SubCategory.Name</p>
                }
                <p><span style="font-weight: 700">Цена </span>- @Model.Cost</p>
                <p><span style="font-weight: 700">Описание </span>- @Model.Description</p>
                <p><span style="font-weight: 700">Ингредиенты </span>- @Model.Ingredients</p>
                <p><span style="font-weight: 700">Добавил блюдо </span>- @Model.Creator.Name</p>
                @if (Model.Editor != null)
                {
                    <p><span style="font-weight: 700">Редактировал блюдо </span>- @Model.Creator.Name</p>
                }
                @if (Model.ProperNutrition)
                {
                    <p><span style="font-weight: 700">Правильное питание </span></p>
                }
                <p style="margin-top: 20px"><span style="font-weight: 700">Дата создания </span>- @Model.AddTime</p>
                @if (Model.EditTime != null)
                {
                    <p><span style="font-weight: 700">Дата редактирования </span>- @Model.EditTime</p>
                }
                @if (Model.Vegetarian)
                {
                    <p><span style="font-weight: 700">Вегетерианский</span></p>
                }
                @if (Model.Visibility)
                {
                    <p><span style="font-weight: 700">Видимый на сайте визитке</span></p>
                }
                @if (Model.MenuDish.Count != 0)
                {
                    <p style="font-weight: 700">Входит в состав меню</p>
                    <ul>
                        @foreach (var menuDish in Model.MenuDish)
                        {
                            <li>@menuDish.Menu.Name</li>
                        }
                    </ul>   
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Закрыть</button>
            </div>
        </div>
    </div>
</div>