@model List<Dish>

@foreach (var dish in Model)
{
    <tr>
        <td id="checkbox-td" style="vertical-align: middle; text-align: center">
            <input type="checkbox" value="true" id="@dish.Id">
        </td>
        <td style="vertical-align: middle; text-align: center">
            <img src="~/@dish.Avatar" style="width: 50px; height: 50px" alt="">
        </td>
        <td style="vertical-align: middle; text-align: center">@dish.Name</td>
        <td style="vertical-align: middle; text-align: center">@dish.Cost</td>
        <td style="vertical-align: middle; text-align: center">@dish.Description</td>
        <td style="vertical-align: middle; text-align: center">
            @if (dish.ProperNutrition)
            {
                <img src="https://img.icons8.com/material-sharp/24/000000/check-all.png"/>
            }
        </td>
        <td style="vertical-align: middle ; text-align: center">
            @if (dish.Vegetarian)
            {
                <img src="https://img.icons8.com/material-sharp/24/000000/check-all.png"/>
            }
        </td>
        <td style="vertical-align: middle; text-align: center">
            <a class="btn btn-dark" asp-action="Edit" asp-controller="Dishes" asp-route-id="@dish.Id">Редактировать</a>
            <a class="btn btn-dark" href="#">Добавить в акцию</a>
        </td>
    </tr>
}