@model List<Category>

@if (Model.Count != 0)
{
    @foreach (var category in Model)
    {
        <tr>
            <td style="vertical-align: middle; text-align: center">@category.Name</td>
            <td style="vertical-align: middle; text-align: center">@category.CreateTime</td>
            <td style="vertical-align: middle; text-align: center">@category.EditedTime</td>
            <td style="vertical-align: middle; text-align: center">
                <img src="https://img.icons8.com/wired/24/000000/delete-forever.png" onclick="openModal('@category.Id')" style="cursor: pointer;"/>
                <a asp-action="Edit" asp-route-id="@category.Id">
                    <img src="https://img.icons8.com/ios-glyphs/24/000000/edit.png"/>
                </a>
            </td>
        </tr>
    }   
}