@model SuperAdminIndexViewModel
@{
  var count = 1;
  var counttr = 5 * Model.PageInfo.PageNumber - 4;
}

@foreach (var user in Model.Users)
    {
      <tr id="tr-main-info-@user.Id" class="tr-@count">
        <th scope="row">#@counttr</th>
        <td>@user.Name @user.SurName</td>
        <td>@user.Position</td>
        <td id="ac-box-status">
          @if (user.Status == UserStatus.Unlocked)
          {
            <span class="ac-user-status-unlocked" id="ac-us-@user.Id"><span class="ac-sp-1" id="ac-sp-@user.Id">@user.Status</span> <span title="Изменить статус" class="ac-box-un" id="ac-un-@user.Id" onclick="UpdateRegistrantStatus('@user.Id')"><i class="fas fa-unlock"></i></span></span>
          }
          @if (user.Status == UserStatus.Locked)
          {
            <span class="ac-user-status-locked" id="ac-us-@user.Id"><span class="ac-sp-1" id="ac-sp-@user.Id">@user.Status</span><span title="Изменить статус" class="ac-box-un asd8547" id="ac-un-@user.Id" onclick="UpdateRegistrantStatus('@user.Id')"><i class="fas fa-lock"></i></span></span>
          }
        </td>
        <td>
          <button class="ac-linc-edit" onclick="ShowBoxTr('@user.Id','edit','@count')">Редактировать</button> 
          <span onclick="ShowBoxTr('@user.Id','false','@count')" class="ac-show-span ac-show-span-@count"><i class="fas fa-chevron-down"></i></span>
        </td>
      </tr>
      <tr class="ac-my-tr ac-my-tr-@count" id="ac-my-tr-@user.Id">
        <td colspan="5" class="ac-my-td">
           <form asp-action="Index" asp-controller="SuperAdmin" method="post">
             <div class="ac-user-info">
               @{
                 Model.User = user;
                 @await Html.PartialAsync("Partial/EmployeeInformationPartial",Model)
               }
             </div>
           </form>
        </td>
      </tr>
      count++;
      counttr++;
    }