@model Restaurant

@{
    ViewBag.Title = "Сайт визитка";
    Layout = "_BusinessCardLayout";
}
@{ await Html.RenderPartialAsync("Partial/SiteCarouselPartial");}
@{ await Html.RenderPartialAsync("Partial/SiteAboutUsPartial");}
@{ await Html.RenderPartialAsync("Partial/SiteOffersPartial");}
<section id="menu">
    <div style="text-align: center; margin-top: 30px;">
        <h2 class="section-title">Меню</h2>
        <div class="section-subtitle text-center">
            <span class="subtitle-line"></span>
            <span class="subtitle-text">Lorem ipsum dolor sit amet.</span>
            <span class="subtitle-line subtitle-line-rt"></span>
        </div>
    </div>
    <div class="row mt-5">
        @foreach (var menu in Model.Menu)
        {
            if (!menu.MenuDishes.Any(m => m.Dish.Visibility == false))
            {
                <div class="col-sm-3 mb-3">
                    <div class="menu-img-wrapper img-wrapper">
                        <img class="menu-img" onclick="menuDetails('@menu.Id')" src="~/@menu.Avatar" alt="">
                    </div>
                    <p class="text-menu-business-card">@menu.Name</p>
                    <p class="menu-cost item-cost text-center">@menu.Cost тг</p>
                    <div style="text-align: center">
                        <form class="buy" id="@menu.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@menu.Id" asp-route-name="menu">
                            <input class="text-center mr-3" id="qty-@menu.Id" type="number" name="quantity" min="1" value="1" style="width: 50px">
                            <button type="submit" class="btn btn-light menu-btn">В корзину</button>
                            <p class="text-danger" style="margin: 10px 0 10px 0" id="message-@menu.Id"></p>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
</section>
@{ await Html.RenderPartialAsync("Partial/SiteDishesPartial");}
<div id="details"></div>
<input type="hidden" id="contact-number" value="@Model.PhoneNumber">
<input type="hidden" id="logo" value="../@Model.LogoPath">
<input type="hidden" id="address" value="@Model.Address">
<div class="mt-5"></div>
<hr>

@{ await Html.RenderPartialAsync("Partial/SiteBookingsPartial");}
<section id="contacts" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Lorem ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet assumenda atque cum fuga minus necessitatibus quaerat quidem, sequi voluptas?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet assumenda atque cum fuga minus necessitatibus quaerat quidem, sequi voluptas?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet assumenda atque cum fuga minus necessitatibus quaerat quidem, sequi voluptas?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet assumenda atque cum fuga minus necessitatibus quaerat quidem, sequi voluptas?</p>
                <img src="" alt="">
            </div>
            <div class="col-sm-6">
                <div id="map"></div>
            </div>
        </div>
    </div>
    
</section>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=@Model.GoogleMapsApi&callback=initMap&libraries=&v=weekly"></script>
    <script>
        $(document).ready(function (){
           var contactNumber = $("#contact-number").val();
           $(".contact-number").append(contactNumber).attr("href", `tel:${contactNumber}`);
           
           $("#nav-logo").attr("src", $("#logo").val());
           $('#PhoneNumber').mask("+7 (999) 999-9999");
           getTotal();
           getTotalBookings();
            $('.timepicker').timepicker({ 
               'timeFormat': 'H:i',
               'scrollDefault': 'now',
               'minTime': '10:00',
               'maxTime': '22:00',
               'disableTimeRanges': [
               		['10:00', 'now']
               	]
           });
            $('#totalBooked').text();
            $(".center").slick({
               dots: true,
               infinite: true,
               centerMode: true,
               slidesToShow: 4,
               slidesToScroll: 3    
             });
            
            });
       
        function initMap() {
              const address = document.getElementById("address").value;
              const geocoder = new google.maps.Geocoder();
                geocoder.geocode({ address: address }, (results, status) => {
                  if (status === "OK") {
                     const map = new google.maps.Map(document.getElementById("map"), {
                      zoom: 15,
                      center: results[0].geometry.location
                     
                    });
                     new google.maps.Marker({
                         position: results[0].geometry.location,
                         map,
                         title: "Restaurant",
                       });
        
                  } else {
                    alert("Не удалось определить месторасположение объекта: " + status);
                  }
            });
        }
        
        $(".buy").submit(function (event){
            event.preventDefault();
            var form = $(this);
            var id = $(form).attr("id");
            var url = $(form).attr("action");
            var data = $(form).serialize();
            var message = $(`#message-${id}`);
            if ($(`#qty-${id}`).val() != ""){
                $.ajax({
                    url: url,
                    data : data,
                    statusCode: {
                        200: function (){
                            $(message).css("color", "black");
                            $(message).show();
                            $(message).text("Товар добавлен в корзину");
                            setTime(id); 
                            getTotal();
                        }
                    }
                });   
            }
            else{
                $(message).show();
                $(message).css("color", "red");
                $(message).text("Не указано количество");
                setTime(id); 
            }
        });
        
        function setTime(id){
            setTimeout(function (){
                $(`#message-${id}`).hide();
            }, 3000);
        }
        
        function getTotal(){
           $.get('@Url.Action("GetTotal", "Cart")', function (data){              
                $("#total").text(data);
           }) 
        }
        
        function dishDetails(id){
            $.get(`@Url.Action("Details", "Dishes")/?id=${id}`, function(data) {
                $('#details').html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            })
        }
        
        function closeModal() {
            $(".modal").hide();
            $("body").css("overflow", "auto");
        }
        
        function menuDetails(id) {
            $.get(`@Url.Action("Details", "Menu")?id=${id}`, function(data) {
                $("#details").html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            });
        }
        
        function stockDetails(id) {
            $.get(`@Url.Action("Details", "Stocks")?id=${id}`, function(data) {
                $("#details").html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            });
        }
       
        
        function tablesDetails(id) {
            $.get(`@Url.Action("Details", "Tables")?id=${id}`, function(data) {
                $("#details").html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            })
        }
        function tableBooking(id) {
            $.ajax(
            {
              url: '@Url.Action("Book", "Booking")',
              type: 'GET',
              data: {id: id, date:$('input[type=radio][name=date]:checked').val(),
                      timeFrom:$('input[name=timeFrom]').val(), 
                      timeTo:$('input[name=timeTo]').val(),
                      customDate: $('#customDate').val()},
              success: function(data) {
                   $("#details").html(data);
                   $("#modal-details").show();
                   $("#modal-details").css("overflow", "auto");
                        
                   $("body").css("overflow", "hidden");
               }
            })
        }
        function getTotalBookings(){
           $.get('@Url.Action("GetTotal", "Booking")', function (data){              
                $("#totalBooked").text(data);
           }) 
        }
               
        function Book(){
           
           var form = $("#partial-form");
           var url = form.attr("action");
           var data = form.serialize();
            $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function(data){
               
                if (data.status == "success")
                    {
                        $('#book').addClass('d-none');
                        $('.modal-body').html('Спасибо! Ваша заявка принята. Наш менеджер перезвонит Вам для подтверждения брони.')
                        getTotalBookings();
                    }
                else 
                    {
                     $("#details").html(data);
                     $("#modal-details").show();
                     $("#modal-details").css("overflow", "auto");
                          
                     $("body").css("overflow", "hidden");
                    }
                
                },
                error: function (data)
                {
                     $("#details").html(data);
                     $("#modal-details").show();
                     $("#modal-details").css("overflow", "auto");
                          
                     $("body").css("overflow", "hidden");
                  
                   }
            })
            
        }
        
        $('.check-book').change(function (){
            $(".tableState").html("Свободен").addClass("text-success").removeClass("text-danger");
            $(".book-btn").removeAttr("disabled");
            $(".card").removeClass("booked-table");
            var date = $('input[type=radio][name=date]:checked').val();
            if(date == "custom")
            {
                   $("#customDate").removeClass('d-none');
                   $('#customDate').datepicker(
                       {
                       language:'ru',
                       minDate: new Date(),
                       maxDate: '',
                       disableNavWhenOutOfRange: true,
                       }
                   );
                }
                else
                {
                     $("#customDate").addClass('d-none');
                }
            var timeFrom = $('#timeFrom').val();
            var timeTo = $('#timeTo').val();
          
            $.ajax({
            url: `@Url.Action("CheckTableAvailability", "Booking")`,
            type: "GET",
            data: {date: date, customDate: $('#customDate').val(), timeFrom: timeFrom, timeTo: timeTo},
            success: function(data) {
                $.each(data, function()
                {
                    $(`#table-${this}`).addClass("booked-table");
                    $(`#available-${this}`).html("Занят").removeClass("text-success").addClass("text-danger");
                    $(`#book-btn-${this}`).attr("disabled", "disabled");
                })      
                  
              }
            })
        })
        
        $('#timeTo').click(function ()
        {
            var from = $('#timeFrom').val();
            var time = from.split(":");
            var toHours = parseInt(time[0]) + 1;
            var toMins = parseInt(time[1]) + 29;
            
            $('#timeTo').timepicker('option',{   
                'timeFormat': 'H:i',
                'scrollDefault': 'now',
                'minTime': '10:00',
                'maxTime': '22:00',
                'disableTimeRanges': [
                    [from, `${toHours}:${toMins}`]
                ]
            });
        })
        
    </script>
}
