@model Restaurant

@{
    ViewBag.Title = "Сайт визитка";
    Layout = "_BusinessCardLayout";
}

<div class="container">
    <div class="row">
        <div class="heading-block-business-card">
            <h2 class="heading-text">@Model.NameRestaurant</h2>
            <h5 class="heading-text">@Model.RestaurantInformation</h5>
        </div>
    </div>
    <div class="row" style="margin: 50px 0 0 0;">
        @foreach (var stock in Model.Stocks)
        {
            if (stock.Validity == "По времени")
            {
                if (stock.At.TimeOfDay <= DateTime.Now.TimeOfDay && stock.To.TimeOfDay >= DateTime.Now.TimeOfDay)
                {
                    if (stock.SecondDish != null && stock.ThirdDish != null)
                    {
                        if (stock.FirstDish.Visibility != false && stock.SecondDish.Visibility != false && stock.ThirdDish.Visibility != false)
                        {
                            <div class="col-sm-3 mb-3">
                                <img class="stock-img" onclick="stockDetails('@stock.Id')" src="~/@stock.Avatar" alt="">
                                <p class="text-stock-business-card">@stock.Name</p>
                                <div style="text-align: center">
                                    <form class="buy" id="@stock.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@stock.Id" asp-route-name="stock">
                                        <input id="qty-@stock.Id" type="number" name="quantity" min="1" style="width: 50px">
                                        <button type="submit" class="btn btn-light">В корзину</button>
                                        <p style="margin: 10px 0 10px 0" id="message-@stock.Id"></p>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        if (stock.FirstDish.Visibility != false)
                        {
                            <div class="col-sm-3 mb-3">
                                <img class="stock-img" onclick="stockDetails('@stock.Id')" src="~/@stock.Avatar" alt="">
                                <p class="text-stock-business-card">@stock.Name</p>
                                <div style="text-align: center">
                                    <form class="buy" id="@stock.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@stock.Id" asp-route-name="stock">
                                        <input id="qty-@stock.Id" type="number" name="quantity" min="1" style="width: 50px">
                                        <button type="submit" class="btn btn-light">В корзину</button>
                                        <p style="margin: 10px 0 10px 0" id="message-@stock.Id"></p>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                }
            }
            else
            {
                if (stock.At < DateTime.Now && stock.To > DateTime.Now)
                {
                    if (stock.SecondDish != null && stock.ThirdDish != null)
                    {
                        if (stock.FirstDish.Visibility != false && stock.SecondDish.Visibility != false && stock.ThirdDish.Visibility != false)
                        {
                            <div class="col-sm-3 mb-3">
                                <img class="stock-img" onclick="stockDetails('@stock.Id')" src="~/@stock.Avatar" alt="">
                                <p class="text-stock-business-card">@stock.Name</p>
                                <div style="text-align: center">
                                    <form class="buy" id="@stock.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@stock.Id" asp-route-name="stock">
                                        <input id="qty-@stock.Id" type="number" name="quantity" min="1" style="width: 50px">
                                        <button type="submit" class="btn btn-light">В корзину</button>
                                        <p style="margin: 10px 0 10px 0" id="message-@stock.Id"></p>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        if (stock.FirstDish.Visibility != false)
                        {
                            <div class="col-sm-3 mb-3">
                                <img class="stock-img" onclick="stockDetails('@stock.Id')" src="~/@stock.Avatar" alt="">
                                <p class="text-stock-business-card">@stock.Name</p>
                                <div style="text-align: center">
                                    <form class="buy" id="@stock.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@stock.Id" asp-route-name="stock">
                                        <input id="qty-@stock.Id" type="number" name="quantity" min="1" style="width: 50px">
                                        <button type="submit" class="btn btn-light">В корзину</button>
                                        <p style="margin: 10px 0 10px 0" id="message-@stock.Id"></p>
                                    </form>
                                </div>
                            </div>
                        }
                    }
                }
            }
        }
    </div>
    <hr>
    <div style="text-align: center; margin-top: 30px;">
        <h2>Сеты</h2>
    </div>
    <div class="row mt-5">
        @foreach (var menu in Model.Menu)
        {
            if (!menu.MenuDishes.Any(m => m.Dish.Visibility == false))
            {
                <div class="col-sm-3 mb-3">
                    <img class="menu-img" onclick="menuDetails('@menu.Id')" src="~/@menu.Avatar" alt="">
                    <p class="text-menu-business-card">@menu.Name</p>
                    <div style="text-align: center">
                        <form class="buy" id="@menu.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@menu.Id" asp-route-name="menu">
                            <input id="qty-@menu.Id" type="number" name="quantity" min="1" style="width: 50px">
                            <button type="submit" class="btn btn-light">В корзину</button>
                            <p style="margin: 10px 0 10px 0" id="message-@menu.Id"></p>
                        </form>
                    </div>
                </div>
            }
        }
    </div>
    @foreach (var g in Model.DishesGroup)
    {
        <hr>
        <div style="text-align: center; margin-top: 30px;">
            <h2>@g.Key.Name</h2>
        </div>
        <div class="row mt-5">
            @foreach (var dish in g)
            {
                if (dish.Visibility)
                {
                    <div class="col-sm-3 mb-3" style="text-align: center; height: 265px">
                        <img class="dish-img" onclick="dishDetails('@dish.Id')" src="~/@dish.Avatar" alt="">
                        <p class="text-dish-business-card">@dish.Name</p>
                        <div style="text-align: center">
                            <form class="buy" id="@dish.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@dish.Id" asp-route-name="dish">
                                <input id="qty-@dish.Id" type="number" name="quantity" min="1" style="width: 50px">
                                <button type="submit" class="btn btn-light">В корзину</button>
                                <p style="margin: 10px 0 10px 0" id="message-@dish.Id"></p>
                            </form>
                        </div>
                    </div>
                }
            }
        </div>
    }
<div id="details"></div>
<input type="hidden" id="contact-number" value="@Model.PhoneNumber">
<input type="hidden" id="logo" value="../@Model.LogoPath">

<h5 class="text-center">Забронировать столик</h5>
<p class="text-center">Условия бронирования</p>
<p class="text-center">@Model.BookingTerms</p>
<form class="check-book">
    <div class="form-group row">
        <div class="col-sm-9 text-center m-auto">
            <div class="book-date">
                <input type="radio" class="chooseDate checkDate" id="date-today" value="today" name="date">
                <label for="date-today">Сегодня</label>
                <input type="radio" class="choseDate checkDate" id="date-tomorrow" value="tomorrow" name="date">
                <label for="date-tomorrow">Завтра</label>
                <input type="radio" value="custom" id="custom" class="chooseDate checkDate" name="date">
                <label for="custom">Выбрать дату</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-5">
            <input type="text" name="customDate" class="form-control d-none" id="customDate" placeholder="01.01.2020" value="01.01.2020">
        </div>
    </div>
    <div class="form-group row justify-content-sm-start">
        <label for="" class="col-sm-5 col-form-label createMenuLabel">Время от</label><br/>
        <div class="col-sm-5">
            <input class="form-control check-time timepicker" id="timeFrom" type="text" name="timeFrom"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-5 col-form-label createMenuLabel">Время до</label><br/>
        <div class="col-sm-5">
            <input class="form-control check-time timepicker" id="timeTo" type="text" name="timeTo">
        </div>
    </div>
</form>
<div class="row" style="margin: 50px 0 0 0;" id="tables-list">
    @foreach (var table in Model.Tables)
    {
        if (!table.isDeleted)
        {
            <div class="card m-2" style="width: 18rem;" id="table-@table.Id">
                <img src="~/@table.IconUrl" onclick="tablesDetails('@table.Id')" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Стол № @table.Id</h5>
                    <p class="card-text">На @table.Capacity гостей</p>
                    <p class="card-text">@table.Floor Этаж</p>
                    <p class="text-success tableState" id="available-@table.Id">Available</p>
                    <button class="btn btn-primary" type="button" onclick="tableBooking(@table.Id)">Забронировать </button>
                </div>
            </div>
        }
    }
</div>

<div>

</div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function (){
           $(".contact-number").text($("#contact-number").val());
           $("#nav-logo").attr("src", $("#logo").val());
           $('#PhoneNumber').mask("+7 (999) 999-9999");
           getTotal();
            $('.timepicker').timepicker({ 
               'timeFormat': 'H:i',
               'scrollDefault': 'now',
               'minTime': '10:00',
               'maxTime': '22:00',
              
           });
           
          
        });
        
        $(".buy").submit(function (event){
            event.preventDefault();
            var form = $(this);
            var id = $(form).attr("id");
            var url = $(form).attr("action");
            var data = $(form).serialize();
            var message = $(`#message-${id}`);
            if ($(`#qty-${id}`).val() != ""){
                $.ajax({
                    url: url,
                    data : data,
                    statusCode: {
                        200: function (){
                            $(message).css("color", "black");
                            $(message).show();
                            $(message).text("Товар добавлен в корзину");
                            setTime(id); 
                            getTotal();
                        }
                    }
                });   
            }
            else{
                $(message).show();
                $(message).css("color", "red");
                $(message).text("Не указано количество");
                setTime(id); 
            }
        });
        
        function setTime(id){
            setTimeout(function (){
                $(`#message-${id}`).hide();
            }, 3000);
        }
        
        function getTotal(){
           $.get('@Url.Action("GetTotal", "Cart")', function (data){              
                $("#total").text(data);
           }) 
        }
        
        function dishDetails(id){
            $.get(`@Url.Action("Details", "Dishes")/?id=${id}`, function(data) {
                $('#details').html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            })
        }
        
        function closeModal() {
            $(".modal").hide();
            $("body").css("overflow", "auto");
        }
        
        function menuDetails(id) {
            $.get(`@Url.Action("Details", "Menu")?id=${id}`, function(data) {
                $("#details").html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            });
        }
        
        function stockDetails(id) {
            $.get(`@Url.Action("Details", "Stocks")?id=${id}`, function(data) {
                $("#details").html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            });
        }
       
        
        function tablesDetails(id) {
            $.get(`@Url.Action("Details", "Tables")?id=${id}`, function(data) {
                $("#details").html(data);
                $("#modal-details").show();
                $("#modal-details").css("overflow", "auto");
                $("body").css("overflow", "hidden");
            })
        }
        function tableBooking(id) {
            $.ajax(
                {
                  url: '@Url.Action("Book", "Booking")',
                  type: 'GET',
                  data: {id: id, date:$('input[type=radio][name=date]:checked').val(),
                          timeFrom:$('input[name=timeFrom]').val(), 
                          timeTo:$('input[name=timeTo]').val(),
                          customDate: $('#customDate').val()},
                  success: function(data) {
                       $("#details").html(data);
                       $("#modal-details").show();
                       $("#modal-details").css("overflow", "auto");
                            
                       $("body").css("overflow", "hidden");
                   }
                })
        }
                
        function Book(){
            
            $.ajax({
            url: '@Url.Action("Book", "Booking")',
            type: 'POST',
            data: { tableId:$('#tableId').val(),
                    date:$('#bookingDate').val(),
                    timeFrom:$('#bookingFrom').val(), 
                    timeTo:$('#bookingTo').val(), 
                    pax:$('#Pax').val(), 
                    clientName:$('#ClientName').val(), 
                    comment:$('#Comment').val(), 
                    phone:$('#PhoneNumber').val(), 
                    email:$('#Email').val(),
                    customDate: $('#customDate').val()
                    },
            success: function(data){
                $('#book').addClass('d-none');
                console.log(data)
                if (data)
                    {
                        $('.modal-body').html('Спасибо! Ваша заявка принята. Наш менеджер перезвонит Вам для подтверждения брони.')
                    }
                else 
                    {
                        
                    }
                
                }
            })
            
        }
        
        $('.check-book').change(function (){
            $(".tableState").html("Available").addClass("text-success").removeClass("text-danger");
            $(".card").removeClass("booked-table")
            var date = $('input[type=radio][name=date]:checked').val();
            if(date == "custom")
            {
                   $("#customDate").removeClass('d-none');
                   $('#customDate').datepicker(
                       {
                       language:'ru'
                       }
                   );
                }
                else
                {
                     $("#customDate").addClass('d-none');
                }
            var timeFrom = $('#timeFrom').val();
            var timeTo = $('#timeTo').val();
          
            $.ajax({
            url: `@Url.Action("CheckTableAvailability", "Booking")`,
            type: "GET",
            data: {date: date, customDate: $('#customDate').val(), timeFrom: timeFrom, timeTo: timeTo},
            success: function(data) {
                console.log(data);
                
                $.each(data, function()
                {
                    {
                        $(`#table-${this}`).addClass("booked-table");
                        $(`#available-${this}`).html("Busy").removeClass("text-success").addClass("text-danger");
                    }
                })      
                        
                            
                        
                
                
            }
            })
        })
        
    </script>
}
