@model Restaurant 

@{
    ViewBag.Title = "Сайт визитка";
    Layout = "_BusinessCardLayout";
}

<div class="container">
    <div class="row">
        <div class="heading-block-business-card">
            <h2 class="heading-text">@Model.NameRestaurant</h2>
            <h5 class="heading-text">@Model.RestaurantInformation</h5>
        </div>
    </div>
    <div class="row" style="margin: 50px 0 0 0;">
        @foreach (var stock in Model.Stocks)
        {
            <div class="col-sm-2 mb-3">
                <img class="stock-img" src="~/@stock.Avatar" alt="">
                <p class="text-stock-business-card">@stock.Name</p>
            </div>  
        }
    </div>
    <hr>
    <div style="text-align: center; margin-top: 30px;">
        <h2>Сеты</h2>
    </div>
    <div class="row mt-5">
        @foreach (var menu in Model.Menu)
        {
            <div class="col-sm-2 mb-3">
                <img class="menu-img" src="~/@menu.Avatar" alt="">
                <p class="text-menu-business-card">@menu.Name</p>
            </div>
        }
    </div>
    @foreach (var g in Model.DishesGroup)
    {
        <hr>
        <div style="text-align: center; margin-top: 30px;">
            <h2>@g.Key.Name</h2>
        </div>
        <div class="row mt-5">
            @foreach (var dish in g)
            {
                <div class="col-sm-3 mb-3" style="text-align: center; height: 265px">
                    <img class="dish-img" src="~/@dish.Avatar" alt="">
                    <p class="text-dish-business-card">@dish.Name</p>
                    <div style="text-align: center">
                        <input type="number" min="0" style="width: 50px">
                        <button type="button" class="btn btn-light">Заказать</button>
                    </div>
                </div>   
            }
        </div>
    }
    <input type="hidden" id="contact-number" value="@Model.PhoneNumber">
    <input type="hidden" id="logo" value="../@Model.LogoPath">
</div>
@section Scripts
{
    <script>
    </script>
}
