@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using Starkit.Models.Data
@inject UserManager<User> _userManager;
@inject StarkitContext _db;
@{
    string name = "";
    if (User.Identity.IsAuthenticated)
    {
        User user = await _db.Users.FirstOrDefaultAsync(u => u.UserName == User.Identity.Name);
        name = user.Name;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Starkit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/site.css"/>
    
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom  my-navbar-style">
        <div class="container">
            <a class="navbar-brand my-navbar-brand-n1" asp-area="" >Starkit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1 justify-content-end my-navbar-nav-n1">
                    <li class="nav-item">
                        <a href="#" class="link1">Связаться с нами</a>
                    </li>
                   
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                           <a class="link2" asp-controller="Users" asp-action="Index">@name</a>
                        </li>
                        <span class="space">/</span>
                        <li class="nav-item">
                            <a class="link2" asp-controller="Account" asp-action="Logout">Выйти </a>
                        </li>
                    }
                    else{
                        <li class="nav-item">
                            <a class="link2" asp-controller="Account" asp-action="Login">Вход </a>
                        </li>
                        <span class="space">/</span>
                        <li class="nav-item">
                            <a class="link2" asp-controller="Account" asp-action="Register"> Регистрация</a>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </nav>
    @{
        await Html.RenderPartialAsync("Partial/_PartialLayout");
    }

</header>
<div class="container">
    <main role="main" class="pb-3">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="container-edit">
               @{
                   await Html.RenderPartialAsync("Partial/_PartialLeftNavbar");
               }
                <div class="edit-block2">
                      @RenderBody()
                </div>
            </div>
        }
        else
        {
            @RenderBody()
        }
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/jquery.maskedinput.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>