@model SuperAdminIndexViewModel

@{
    ViewBag.Title = "Панель администратора";
    Layout = "_Layout";
    int pageNum;
}
<div class="admin-container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Организация </th>
      <th scope="col">Владелец </th>
      <th scope="col">Статус</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="ac-tbody">
    @{
      await Html.RenderPartialAsync("Partial/IndexTbodyPartial");
    }
    </tbody>
  </table>
  
  <nav aria-label="Page navigation example">
    <ul class="pagination">
     @if (Model.PageInfo.PageNumber > 1)
     {
       pageNum = Model.PageInfo.PageNumber - 1;
       <li class="page-item">
         <a class="page-link" asp-action="Index" asp-controller="SuperAdmin" asp-route-page="@pageNum" aria-label="Previous">
           <span aria-hidden="true">&laquo;</span>
         </a>
       </li>
     }
      @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
      {
        @if (i == Model.PageInfo.PageNumber)
        {
          <li class="page-item">
            <a style="background: #e9ecef;" class="page-link">@i</a>
          </li>
        }
        else if(i > 5)
        {
          i = Model.PageInfo.TotalPages;
          <li class="page-item">
            <a asp-action="Index" asp-controller="SuperAdmin" asp-route-page="@i" class="page-link">...@Model.PageInfo.TotalPages</a>
          </li>
        }
        else
        {
          <li class="page-item">
            <a asp-action="Index" asp-controller="SuperAdmin" asp-route-page="@i" class="page-link">@i</a>
          </li>
        }
        
      }
      @if (Model.PageInfo.PageNumber < Model.PageInfo.TotalPages)
      {
        pageNum = Model.PageInfo.PageNumber + 1;
        <li class="page-item">
          <a class="page-link" asp-action="Index" asp-controller="SuperAdmin" asp-route-page="@pageNum" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      }
    </ul>
  </nav>
</div>

@section Scripts
{
  <script>
  
     
   
      function ShowBoxTr(userId,edit,countTr) {
        console.log("asdasdasd")
        if(edit === 'edit')
          {
             $('input').removeAttr('disabled');
             $('#btn-submit-edit-'+userId).show();
          }
          else{
            $('input').attr('disabled',true);
            $('#btn-submit-edit-'+userId).hide();
          }
        let el = document.getElementById('ac-my-tr-'+userId)
        if ( el.style.display === 'none' || el.style.display === '')
          {
              $('#tr-main-info-'+userId).css('background', 'rgba(0,0,0,.05)')
              $('#ac-my-tr-'+userId).show()
          }
          else{
            if (edit !== 'edit')
              {
                 $('#tr-main-info-'+userId).css('background', 'none')
                 $('#ac-my-tr-'+userId).hide()
              }
          }
      }
  
      function UpdateRegistrantStatus(userId){
        console.log(userId)
          $.ajax({
            url: '@Url.Action("UpdateRegistrantStatus","SuperAdmin")?userId=' + userId,
            type:"POST",
            success: function(data) {
              if (data === "locked")
                {
                  console.log(data)
                  $('#ac-us-'+userId).attr("class","ac-user-status-locked");
                  $('#ac-sp-'+userId).text('Locked');
                  $('#ac-un-'+userId).html('<i class="fas fa-lock"></i>');
                }
                else if(data === "unlocked")
                {
                   $('#ac-us-'+userId).attr("class","ac-user-status-unlocked");
                   $('#ac-sp-'+userId).text('Unlocked');
                   $('#ac-un-'+userId).html('<i class="fas fa-unlock"></i>');
                }
                else if(data === false){
                  alert("Что-то пошло не так попробуйте обновить страницу.")
                }
            }
          })
      }
       function expandTheBlock(userId){
                  var result = $('#regul-'+userId).val();
                  if( result === "0")
                   {
                      $('#block-UP-address-'+userId).show();
                      $('#uk15-'+userId).text("Скрыть")
                      $('#regul-'+userId).val(1)
                   }
                  else{
                      $('#block-UP-address-'+userId).hide();
                      $('#uk15-'+userId).text("Показать")
                      $('#regul-'+userId).val(0)
                  }
              }
  </script>
}
