@model List<User>

@{
    ViewBag.Title = "Панель администратора";
    Layout = "_Layout";
}
<div class="admin-container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Организация </th>
      <th scope="col">Владелец </th>
      <th scope="col">Статус</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
      <tr onclick="ShowBoxTr('@user.Id')">
        <th scope="row">1</th>
        <td>@user.CompanyName</td>
        <td>@user.Name @user.SurName</td>
        <td id="ac-box-status">
          @if (user.Status == UserStatus.Unlocked)
          {
            <span class="ac-user-status-unlocked" id="ac-us-@user.Id"><span class="ac-sp-1" id="ac-sp-@user.Id">@user.Status</span> <span title="Изменить статус" class="ac-box-un" id="ac-un-@user.Id" onclick="UpdateRegistrantStatus('@user.Id')"><i class="fas fa-unlock"></i></span></span>
          }
          @if(user.Status == UserStatus.Locked)
          {
            <span class="ac-user-status-locked" id="ac-us-@user.Id"><span class="ac-sp-1" id="ac-sp-@user.Id">@user.Status</span><span title="Изменить статус" class="ac-box-un" id="ac-un-@user.Id" onclick="UpdateRegistrantStatus('@user.Id')"><i class="fas fa-lock"></i></span></span>
          }
        </td>
        <td>
          <a class="ac-linc-edit" href="">Редактировать</a>
        </td>
      </tr>
      
      <tr class="ac-my-tr" id="ac-my-tr-@user.Id">
        <td colspan="5" class="ac-my-td">
        <div class="ac-user-info">
          <div class="ac-info-box1">
            <p class="name-label">Имя:</p>
            <p class="box-p">@user.Name</p>
          </div>
          <div class="ac-info-box2">
            <p class="name-label">Название компании:</p>
            <p class="box-p">@user.CompanyName</p>
          </div>
          <div class="ac-info-box3">
            <p class="name-label">Фамилия:</p>
            <p class="box-p">@user.SurName</p>
          </div>
          <div class="ac-info-box4">
            <p class="name-label">ИИН:</p>
            <p class="box-p">@user.IIN</p>
          </div>

        </div>
        </td>
      </tr>
      
    }
  
    </tbody>
  </table>
</div>


@section Scripts
{
  <script >
      function ShowBoxTr(userId) {
        let el = document.getElementById('ac-my-tr-'+userId)
        if ( el.style.display === 'none' || el.style.display === '')
          {
              $('#ac-my-tr-'+userId).show()
          }
          else{
            $('#ac-my-tr-'+userId).hide()
          }
       
      }
  
  
  
      function UpdateRegistrantStatus(userId){
        console.log(userId)
          $.ajax({
            url: '@Url.Action("UpdateRegistrantStatus","SuperAdmin")?userId=' + userId,
            type:"POST",
            success: function(data) {
              if (data === "locked")
                {
                  console.log(data)
                  $('#ac-us-'+userId).attr("class","ac-user-status-locked");
                  $('#ac-sp-'+userId).text('Locked');
                  $('#ac-un-'+userId).html('<i class="fas fa-lock"></i>');
                }
                else if(data === "unlocked")
                {
                   $('#ac-us-'+userId).attr("class","ac-user-status-unlocked");
                   $('#ac-sp-'+userId).text('Unlocked');
                   $('#ac-un-'+userId).html('<i class="fas fa-unlock"></i>');
                }
                else if(data === false){
                  alert("Что-то пошло не так попробуйте обновить страницу.")
                }
            }
          })
      }
  </script>
}
