@model EditUserViewModel


<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label >Имя:</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2">
            <input type="text" class="form-control"  value="@ViewBag.User.Name" disabled>
        </div>
    </div>
</div>
<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label >Фамилия:</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2">
            <input type="text" class="form-control"  value="@ViewBag.User.SurName" disabled>
        </div>
    </div>
</div>
<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label >Название компании:</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2">
            <input type="text" class="form-control"  value="@ViewBag.User.CompanyName" disabled>
        </div>
    </div>
</div>
<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label >ИИН:</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2">
            <input type="text" class="form-control"  value="@ViewBag.User.IIN" disabled>
        </div>
    </div>
</div>
<div class="boxx2 boxx22">
    <p class="ed2p2 ed2p22">
        <input id="regul" type="hidden" value="0">
        <a type="button" onclick="expandTheBlock()"><span id="uk15">Показать</span> юридический & почтовый адрес ↓</a>
    </p>
</div>
<div id="block-UP-address">
    <h3>Юридический адрес</h3>
    <hr>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label >Индекс:</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                <input type="text" class="form-control"  value="@ViewBag.LegalAddress.Index" disabled>
            </div>
        </div>
    </div>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label >Страна:</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                <input type="text" class="form-control"  value="@ViewBag.LegalAddress.Country" disabled>
            </div>
        </div>
    </div>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label >Область:</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                @if (ViewBag.LegalAddress.Region == null)
                {
                    <input type="text" id="legal-region" class="form-control cityPhone-nu"  name="legalRegion"  placeholder="Данные можно можно заполнить по необходимости">
                }
                else
                {
                    <input type="text" class="form-control "  value="@ViewBag.LegalAddress.Region " disabled>
                }
            </div>
        </div>
    </div>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label >Город:</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                @if (ViewBag.LegalAddress.City == null)
                {
                    <input type="text" id="legal-city" class="form-control cityPhone-nu"  name="legalCity"  placeholder="Данные можно можно заполнить по необходимости">
                }
                else
                {
                    <input type="text" class="form-control "  value="@ViewBag.LegalAddress.City" disabled>
                }
            </div>
        </div>
    </div>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label >Адрес:</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                <input type="text" class="form-control"  value="@ViewBag.LegalAddress.Address" disabled>
            </div>
        </div>
    </div>
    <h3>Почтовый адрес</h3>
    <hr>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label >Индекс:</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                <input type="text" class="form-control"  value="@ViewBag.PostalAddress.Index" disabled>
            </div>
        </div>
    </div>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label >Страна:</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                <input type="text" class="form-control"  value="@ViewBag.PostalAddress.Country" disabled>
            </div>
        </div>
    </div>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label >Область:</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                @if (ViewBag.PostalAddress.Region == null)
                {
                    <input type="text" id="postal-region" class="form-control cityPhone-nu" name="postalRegion" value="@ViewBag.PostalAddress.Region" placeholder="Данные можно можно заполнить по необходимости">
                }
                else
                {
                    <input type="text" class="form-control "  value="@ViewBag.PostalAddress.Region" disabled>
                }
            </div>
        </div>
    </div>
    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label >Город:</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                @if (ViewBag.PostalAddress.City == null)
                {
                    <input type="text" id="postal-city" class="form-control cityPhone-nu" name="postalCity" value="@ViewBag.PostalAddress.City" placeholder="Данные можно можно заполнить по необходимости">
                }
                else
                {
                    <input type="text" class="form-control "  value="@ViewBag.PostalAddress.City" disabled>
                }
            </div>
        </div>
    </div>

    <div class="form-group  ed2-form-group">
        <div class="ed2-form-label">
            <label >Адрес:</label>
        </div>
        <div class="ed2-form-input">
            <div class="boxx2">
                <input type="text" class="form-control"   value="@ViewBag.PostalAddress.Address" disabled>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label >Эл. адрес:</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2 ">
            <input type="text" class="form-control"  value="@ViewBag.User.Email" disabled>
        </div>
    </div>
</div>
<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label >Номер телефона:</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2">
            <input type="text" class="form-control"  value="@ViewBag.User.PhoneNumber" disabled>
        </div>
    </div>
</div>

<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label >Городской телефон:</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2">
            @if (ViewBag.User.CityPhone == null)
            {
                <input type="text" id="cityPhone" class="form-control cityPhone-nu"  name="cityphone" placeholder="Данные можно можно заполнить по необходимости">
            }
            else
            {
                <input type="text" class="form-control " name="cityphone" value="@ViewBag.User.CityPhone" disabled>
            }
            <p class="ed2p1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus harum magnam maxime natus, sed sit? Aliquam perferendis rerum sequi.
            </p>
            <p class="ed2p2">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <p class="ed2p2 ed2p22" id="btn-submit-edit-password">
                <a type="button" id="user-form-submit-btn" data-toggle="modal" data-target="#editModal">Изменить пароль</a>
            </p>
            <p class="ed2p2 ed2p22" id="btn-submit-save-edit-password">
                <button type="submit">Сохранять изменения</button>
            </p>

        </div>
    </div>
</div>
<div class="form-group  ed2-form-group">
    <div class="ed2-form-label">
        <label asp-for="GoogleMapsApi">GoogleMapsApiKey:</label>
    </div>
    <div class="ed2-form-input">
        <div class="boxx2">
            <input type="text" class="form-control" asp-for="GoogleMapsApi">
        </div>
    </div>
</div>

