@model EditUserViewModel

@{
    ViewBag.Title = "Личный кабинет";
    Layout = "_Layout";
}


<div class="block-user">
    <form class="user-form">
        <div class="user-box-1">
            <div class="text-center">
                <img class="user-avatar" src="~/images/etc/none.png" alt="">
                <button type="button" id="user-form-submit-btn" class="btn-outline-dark btn mt-4" data-toggle="modal" data-target="#editModal">Изменить пароль</button>
            </div>
        </div>
        <div class="user-box-2">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Name">Имя:</label>
                    <input id="name" type="text" asp-for="Name" class="form-control" value="@ViewBag.User.Name" disabled>
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IIN">ИИН:</label>
                    <input type="text" maxlength="12" asp-for="IIN" class="form-control" value="@ViewBag.User.IIN" disabled>
                    <span asp-validation-for="IIN"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="SurName">Фамилия:</label>
                    <input type="text" class="form-control" value="@ViewBag.User.SurName" disabled>
                    <span asp-validation-for="SurName"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" class="form-control" value="@ViewBag.User.Email" disabled>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="CompanyName">Название компании:</label>
                    <input type="text" class="form-control" value="@ViewBag.User.CompanyName" disabled>
                    <span asp-validation-for="CompanyName"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="PhoneNumber">Номер телефона:</label>
                    <input type="text" class="form-control" value="@ViewBag.User.PhoneNumber" disabled>
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Юридический адрес:</label>
                    <input type="text" class="form-control" value="@Model.LegalAddress.Address" disabled>
                    <input type="text" class="form-control" value="@Model.LegalAddress.City, @Model.LegalAddress.Country, @Model.LegalAddress.Index" disabled>
                </div>
                <div class="form-group col-md-6">
                    <label>Почтовый адрес:</label>
                    <input type="text" class="form-control" value="@Model.PostalAddress.Address" disabled>
                    <input type="text" class="form-control" value="@Model.PostalAddress.City, @Model.PostalAddress.Country, @Model.PostalAddress.Index" disabled>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Введите изменения</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{ await Html.RenderPartialAsync("PartialViews/EditPasswordPartialView", Model);}
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script >
        function changePassword(){

            $.ajax({
                url: '@Url.Action("ChangePassword", "Account")',
                type: 'POST',
                data: {'id': $('#user-id').val(), 'oldPassword': $('#OldPassword').val(), 'newPassword': $('#NewPassword').val()},
                success: function(data) {
                  $('.modal-body').html(data);
                }
            })
        }
        
        
        $('#user-form-submit-btn').on('shown.bs.modal', function () {
          $('#myInput').trigger('focus')
        });
      
        $('body').on('click', '.password-control', function(){
            if ($('#OldPassword').attr('type') === 'password'){
                $('.password-control').addClass('view');
                $('#OldPassword').attr('type', 'text');
                $('#NewPassword').attr('type', 'text');
                $('#ConfirmPassword').attr('type', 'text');
            } else {
                $('.password-control').removeClass('view');
                $('#OldPassword').attr('type', 'password');
                $('#NewPassword').attr('type', 'password');
                $('#ConfirmPassword').attr('type', 'password');
            }
            return false;
           });
    
    </script>
}