@model CreateBookingViewModel
<div class="modal answer-modal" tabindex="-1" role="dialog" xmlns="http://www.w3.org/1999/html" id="modal-details">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 >Бронирование стола</h2>
        </div>
        <div class="modal-body">
            <form method="post" class="form-book" id="partial-form">
                
                <input type="hidden" value="@Model.TableId" id="tableId" asp-for="@Model.TableId">
                <input type="hidden" value="@Model.Date" id="bookingDate" asp-for="@Model.Date">
                <input type="hidden" value="@Model.CustomDate" id="bookingCustomDate" asp-for="@Model.CustomDate">
                <input type="hidden" value="@Model.BookFrom" id="bookingFrom">
                <input type="hidden" value="@Model.BookTo" id="bookingTo">

                <div class="form-group row">
                    <label for="" class="col-sm-5 col-form-label createMenuLabel">Ваше имя</label><br/>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" asp-for="ClientName">
                    </div>
                    <span class="validationError" asp-validation-for="ClientName"></span>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-form-label createMenuLabel">Кол-во гостей</label><br/>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" asp-for="Pax">
                    </div>
                    <span class="validationError" asp-validation-for="Pax"></span>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-form-label createMenuLabel">Номер телефона</label><br/>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="+7 (___) ___-____">
                    </div>
                    <span class="validationError" asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-form-label createMenuLabel">Email</label><br/>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" asp-for="Email">
                    </div>
                    <span class="validationError" asp-validation-for="Email"></span>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-form-label createMenuLabel">Комментарии</label><br/>
                    <div class="col-sm-5">
                        <textarea style="height: 150px; resize: none" asp-for="Comment" class="form-control"></textarea>
                    </div>
                    <span class="validationError" asp-validation-for="Comment"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div style="text-align: center" class="d-flex justify-content-center mb-3">
                <br/><button type="button" class="btn btn-dark" onclick="Book()" id="book">Забронировать</button>
                <button type="button" class="btn btn-secondary ml-3" onclick="closeModal()">Закрыть</button>
            </div>
        </div>
        </div>
</div>
</div>