@model CreateBookingViewModel
<div class="modal answer-modal" tabindex="-1" role="dialog" xmlns="http://www.w3.org/1999/html" id="modal-details">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 >Бронирование стола</h2>
        </div>
        <div class="modal-body">
            <form method="post" asp-action="Book" class="form-book" id="partial-form">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" value="@Model.TableId" asp-for="@Model.TableId">
                @if (Model.CustomDate == null || Model.BookFrom == null || Model.BookTo == null)
                {
                    <input type="hidden" value="custom" id="bookingDateModal" asp-for="@Model.Date">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="bookingCustomDateModal" asp-for="CustomDate" placeholder="--.--.----">
                        </div>
                    </div>
                    <div class="form-group row justify-content-sm-start">
                        <label for="" class="col-sm-3 col-form-label createMenuLabel">Время от</label><br/>
                        <div class="col-sm-3">
                            <input class="form-control check-time timepicker timeTo" id="timeFromModal" asp-for="BookFrom" placeholder="__:__"/>
                        </div>
                        <label for="" class="col-sm-3 col-form-label createMenuLabel">Время до</label><br/>
                        <div class="col-sm-3">
                            <input class="form-control check-time timepicker" id="timeToModal" asp-for="BookTo" placeholder="__:__">
                        </div>
                        <span class="mr-auto" asp-validation-for="BookFrom"></span>
                        <span class="mr-auto ml-auto" asp-validation-for="CustomDate"></span>
                        <span class="ml-auto" asp-validation-for="BookTo"></span>
                    </div>
                }
                else
                {
                    <input type="hidden" value="@Model.Date" id="bookingDate" asp-for="@Model.Date">
                    <input type="hidden" value="@Model.CustomDate" id="bookingCustomDate" asp-for="@Model.CustomDate">
                    <input type="hidden" value="@Model.BookFrom" asp-for="BookFrom">
                    <input type="hidden" value="@Model.BookTo" asp-for="BookTo">
                }
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-form-label createMenuLabel">Ваше имя</label><br/>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" asp-for="ClientName">
                    </div>
                    <span asp-validation-for="ClientName"></span>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-form-label createMenuLabel">Кол-во гостей</label><br/>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" asp-for="Pax">
                    </div>
                    <span asp-validation-for="Pax"></span>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-form-label createMenuLabel">Номер телефона</label><br/>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="+7 (___) ___-____">
                    </div>
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-form-label createMenuLabel">Email</label><br/>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" asp-for="Email">
                    </div>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-5 col-form-label createMenuLabel">Комментарии</label><br/>
                    <div class="col-sm-5">
                        <textarea style="height: 150px; resize: none" asp-for="Comment" class="form-control"></textarea>
                    </div>
                    <span asp-validation-for="Comment"></span>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div style="text-align: center" class="d-flex justify-content-center mb-3">
                <br/><button type="button" class="btn btn-dark" onclick="Book()" id="book">Забронировать</button>
                <button type="button" class="btn btn-secondary ml-3" onclick="closeModal()">Закрыть</button>
            </div>
        </div>
        </div>
</div>
</div>