@using Microsoft.EntityFrameworkCore
<div class="menu-bgr-code-asd582">
    <div class="container">
        <div style="padding-top: 50px; padding-bottom: 70px">
            <div class="block-menu-code-x14a" style="padding-top: 35px;padding-left: 15px;padding-right: 15px;">
                <div class="block-menu-in-code-x14a">
                    <div>
                        <div class="bl-men-box1" style="padding-bottom: 20px">
                            <h2 style="padding-bottom: 12px;margin-bottom: 20px">Специальные меню</h2>
                            <div class="bl-men-box1-1" style="margin-bottom: 35px">
                                <span class="subtitle-line"></span>
                                <span class="subtitle-color">На любой вкус</span>
                                <span class="subtitle-line"></span>
                            </div>

                            <div class="bl-men-box2" style="padding: 0 15px">
                                <section class="center slider slider-code-asd154 menu-slider">
                                @foreach (var menu in Model.Menu)
                                {
                                    <div class="menu-slider-block">    
                                <div class="box-menu">
                                    <div class="menu-block">
                                        <div>
                                            <div class="menu-box-img">
                                                <img class="menu-avatar-img" src="~/@menu.Avatar" alt="@menu.Name">
                                            </div>
                                            <div class="menu-box-title">
                                                <h3 class="">
                                                    <a href="#">@menu.Name</a>
                                                </h3>
                                                <span class="menu-cost">@menu.Cost тг</span>
                                                <div style="text-align: center">
                                                    <form class="buy" id="@menu.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@menu.Id" asp-route-name="menu">
                                                        <input class="text-center mr-3" id="qty-@menu.Id" type="number" name="quantity" min="1" value="1" style="width: 50px">
                                                        <button type="submit" class="btn btn-light offers-btn">В корзину</button>
                                                        <p class="text-light" style="margin: 10px 0 10px 0" id="message-@menu.Id"></p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                }
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

