@model IEnumerable<Dish>
@foreach (var dish in Model)
{
    if (dish.Visibility)
    {
        <div class="dish-as15">
            <div>
                <div class="dish-as15-box-title text-center">
                    <div class="dish-as15-box-img">
                        <img class="dish-as15-img" src="~/@dish.Avatar" alt="">
                    </div>
                    <h4 onclick="dishDetails('@dish.Id')">@dish.Name
                    </h4>
                    <span class="menu-cost">@dish.Cost тг</span>
                    <div style="text-align: center; margin-top: 20px;">
                        <form class="buy" id="@dish.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@dish.Id" asp-route-name="dish">
                            <input class="text-center mr-3 dish-qty-input" id="qty-@dish.Id" type="number" name="quantity" min="1" value="1" style="width: 50px">
                            <button type="button" onclick="inOrder('@dish.Id')" class="btn btn-danger dishes-btn">В корзину</button>
                            <p class="text-danger" style="margin: 10px 0 10px 0" id="message-@dish.Id"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
}

