<section id="offers">
    <div class="block-top-dishes">
        <div class="top-dishes-container">
            <div class="topDish-box-1">
                <h2 class="section-title">Акции</h2>
                <div class="section-subtitle text-center">
                    <span class="subtitle-line"></span>
                    <span class="subtitle-text">Не пропустите</span>
                    <span class="subtitle-line subtitle-line-rt"></span>
                </div>
            </div>
            <div class="topDish-box-2">
                <div class="center slider slider-code-asd154">
                    @foreach (var stock in Model.Stocks)    
                        {
                            if (stock.Validity == "По времени")
                            {
                                if (stock.At.TimeOfDay <= DateTime.Now.TimeOfDay && stock.To.TimeOfDay >= DateTime.Now.TimeOfDay)
                                {
                                    if (stock.SecondDish != null && stock.ThirdDish != null)
                                    {
                                        if (stock.FirstDish.Visibility && stock.SecondDish.Visibility && stock.ThirdDish.Visibility)
                                        {
                                            <div class="slider-in-code-asd45412">
                                                <div class="offers-img-wrapper img-wrapper">
                                                    <img class="stock-img" onclick="stockDetails('@stock.Id')" src="~/@stock.Avatar" alt="">
                                                </div>
                                                <span class="offers-cost">@stock.Cost тг</span>
                                                    <p class="text-stock-business-card">@stock.Name</p>
                                                <div style="text-align: center">
                                                    <form class="buy" id="@stock.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@stock.Id" asp-route-name="stock">
                                                        <input class="text-center mr-3" id="qty-@stock.Id" type="number" name="quantity" min="1" value="1" style="width: 50px">
                                                        <button type="submit" class="btn btn-light offers-btn">В корзину</button>
                                                        <p class="text-light" style="margin: 10px 0 10px 0" id="message-@stock.Id"></p>
                                                    </form>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        if (stock.FirstDish.Visibility)
                                        {
                                            <div class="slider-in-code-asd45412">
                                                <div class="offers-img-wrapper img-wrapper">
                                                    <img class="stock-img" onclick="stockDetails('@stock.Id')" src="~/@stock.Avatar" alt="">
                                                </div>
                                                <span class="offers-cost">@stock.Cost тг</span>
                                                    <p class="text-stock-business-card">@stock.Name</p>
                                                    <div style="text-align: center">
                                                        <form class="buy" id="@stock.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@stock.Id" asp-route-name="stock">
                                                            <input class="text-center mr-3" id="qty-@stock.Id" type="number" name="quantity" min="1" value="1" style="width: 50px">
                                                            <button type="submit" class="btn btn-light offers-btn">В корзину</button>
                                                            <p class="text-light" style="margin: 10px 0 10px 0" id="message-@stock.Id"></p>
                                                        </form>
                                                    </div>
                                                </div>
                                            
                                        }
                                    }
                                }
                            }
                            else
                            {
                                if (stock.At < DateTime.Now && stock.To > DateTime.Now)
                                {
                                    if (stock.SecondDish != null && stock.ThirdDish != null)
                                    {
                                        if (stock.FirstDish.Visibility && stock.SecondDish.Visibility && stock.ThirdDish.Visibility)
                                        {
                                            <div class="slider-in-code-asd45412">
                                                
                                                <div class="offers-img-wrapper img-wrapper">
                                                    <img class="stock-img" onclick="stockDetails('@stock.Id')" src="~/@stock.Avatar" alt="">
                                                </div>
                                                <span class="offers-cost">@stock.Cost тг</span>
                                                    <p class="text-stock-business-card">@stock.Name</p>
                                                    <div style="text-align: center">
                                                        <form class="buy" id="@stock.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@stock.Id" asp-route-name="stock">
                                                            <input class="text-center mr-3" id="qty-@stock.Id" type="number" name="quantity" min="1" value="1" style="width: 50px">
                                                            <button type="submit" class="btn btn-light offers-btn">В корзину</button>
                                                            <p class="text-light" style="margin: 10px 0 10px 0" id="message-@stock.Id"></p>
                                                        </form>
                                                    </div>
                                                </div>
                                            
                                        }
                                    }
                                    else
                                    {
                                        if (stock.FirstDish.Visibility)
                                        {
                                            <div class="slider-in-code-asd45412">
                                                
                                                    <div class="offers-img-wrapper img-wrapper">
                                                        <img class="stock-img" onclick="stockDetails('@stock.Id')" src="~/@stock.Avatar" alt="">
                                                    </div>
                                                    <span class="offers-cost">@stock.Cost тг</span>
                                                    <p class="text-stock-business-card">@stock.Name</p>
                                                    <div style="text-align: center">
                                                        <form class="buy" id="@stock.Id" asp-controller="Cart" asp-action="Buy" asp-route-id="@stock.Id" asp-route-name="stock">
                                                            <input class="text-center mr-3" id="qty-@stock.Id" type="number" name="quantity" min="1" value="1" style="width: 50px">
                                                            <button type="submit" class="btn btn-light offers-btn">В корзину</button>
                                                            <p class="text-light" style="margin: 10px 0 10px 0" id="message-@stock.Id"></p>
                                                        </form>
                                                    </div>
                                                </div>
                                               
                                        }
                                    }
                                }
                            }
                        }
                    </div>
                
                </div>
            </div>
        </div>
</section>