@model List<Menu>

@if (Model.Count != 0)
{
    @foreach (var menu in Model)
    {
        <tr>
            <td style="vertical-align: middle; text-align: center">
                <img src="~/@menu.Avatar" style="width: 50px; height: 50px" alt="">
            </td>
            <td style="vertical-align: middle; text-align: center">@menu.Name</td>
            <td style="vertical-align: middle; text-align: center">@menu.AddTime</td>
            <td style="vertical-align: middle; text-align: center">@menu.EditTime</td>
            <td style="vertical-align: middle; text-align: center">
                @if (menu.Cost != 0)
                {
                    @menu.Cost   
                }
            </td>
            <td style="vertical-align: middle; text-align: center">
                <img src="https://img.icons8.com/wired/24/000000/delete-forever.png" onclick="openModal('@menu.Id')" style="cursor: pointer;"/>
                <a asp-route-id="@menu.Id">
                    <img src="https://img.icons8.com/ios-glyphs/24/000000/edit.png"/>
                </a>
            </td>
        </tr>
    }   
}