@model SelectList

@{
    ViewBag.Title = "Список блюд";
    Layout = "_Layout";
}
<style>
    #dropdown1{
        display: block;
    }
    #dropdown1-li-4{
          margin-left: 15px;
            background: #9ad9ea;
    }
    #dropdown1-li-4 a{
                color: #262626;
                font-weight: 600;
                border-left: 2px solid #41728b;
    }
    #dropdown1-li-4 a:hover{
        color: #262626;
    }
 </style>
<div class="container" style="width: 90%; margin-bottom: 50px">
    <h2 class="text-menu">Список блюд</h2>
    <div class="d-flex bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            <label>Категория: </label>
            <select id="filterCategory" name="category" asp-items="@Model" class="form-control"></select>
        </div>
        <div class="p-2 bd-highlight">
            <label>Имя: </label>
            <input id="searchName" name="name" class="form-control"/>
        </div>
        <div class="p-2 bd-highlight">
            <img src="https://img.icons8.com/wired/36/000000/delete-forever.png" id="delete" style="cursor: pointer; margin-top: 30px;"/>
        </div>
        <div class="p-2 bd-highlight">
            <img src="https://img.icons8.com/material-rounded/36/000000/hide.png" id="hide" style="cursor: pointer; margin-top: 30px"/>
        </div>
    </div>

    <div id="message" style="color: red">Не выбрано ни одного блюда</div>
    <div class="modal answer-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Вы уверены?</h5>
                </div>
                <div class="modal-footer">
                    <button onclick="deleteDishes()" type="button" class="btn btn-primary button-delete">Удалить</button>
                    <button onclick="hideDishes()" type="button" class="btn btn-primary button-hide">Скрыть/Отображать</button>
                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div id="result">
    
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
          $.get('@Url.Action("GetDishes", "Dishes")', function(data) {
             $("#result").html(data);
          })
        });
        
        function deleteDishes() {
            var checkboxes = $("input:checkbox:checked");
            let arr = [];
            $.each(checkboxes, function (index, value) {
               arr.push(value.id);
            });
            $.ajax({
                url: '@Url.Action("Delete", "Dishes")',
                type: "Delete",
                data: {ids:arr},
                success: function (data) {
                    if (data == true){
                        $(".modal").hide();
                        getDishes();
                    }
                }
            });   
        }
            
        $("#delete").click(function (event) {
            event.preventDefault();
            $(".button-delete").show();
            $(".button-hide").hide();
            var checkboxes = $("input:checkbox:checked");
            if (checkboxes.length > 0){
                $(".modal").show();
                $("#message").hide();
            }
            else{
                $("#message").show();
            }
        });
        
        function closeModal() {
            $(".modal").hide();
        }
        
        $("#hide").click(function (event) {
            event.preventDefault();
            $(".button-delete").hide();
            $(".button-hide").show();
            var checkboxes = $("input:checkbox:checked");
            if (checkboxes.length > 0){
                $(".modal").show();
                $("#message").hide();
            }
            else{
                $("#message").show();
            }
        });
        
        function hideDishes() {
            var checkboxes = $("input:checkbox:checked");
            let arr = [];
            $.each(checkboxes, function (index, value) {
                arr.push(value.id);
            });
            $.ajax({
                url: '@Url.Action("Hide", "Dishes")',
                type: "Put",
                data: {ids:arr},
                success: function (data) {
                    if (data == true){
                        $(".modal").hide();
                        getDishes();
                    }
                }
            });
        }
        
        $("#filterCategory").change(function() {
          var filter = $("#filterCategory").val();
          var search = $("#searchName").val();
          $.ajax({
                url: '@Url.Action("GetDishes")',
                type: "GET",
                data: {
                    name: search,
                    category: filter,
                    sortOrder: sort
                }
          }).done(function(data) {
            $("#result").html(data);
          });
        });
        
        $("#searchName").keyup(function() {
            var filter = $("#filterCategory").val();
            var search = $("#searchName").val();
            $.ajax({
                url: '@Url.Action("GetDishes")',
                type: "GET",
                data: {
                    name: search,
                    category: filter,
                    sortOrder: sort
                }
            }).done(function(data) {
                $("#result").html(data);
            });
        });
        
        function nameSort(){
            var sortParam = $(".nameSort").attr('id');
            sort(sortParam);
        }
        
        function costSort() {
            var sortParam = $(".nameSort").attr('id');
            sort(sortParam);
        }
        
        function addTimeSort() {
            var sortParam = $(".nameSort").attr('id');
            sort(sortParam);
        }
        
        function sort(sortParam){
            var filter = $("#filterCategory").val();
            var search = $("#searchName").val();
            $.ajax({
            url: '@Url.Action("GetDishes")',
                type: "GET",
                data: {
                    name: search,
                    category: filter,
                    sortOrder: sortParam
                }
            }).done(function(data) {
                $("#result").html(data);
            })
        }
        
        function previousPage(page, name, category, sortOrder) {
            $.ajax({
                url: '@Url.Action("GetDishes", "Dishes")',
                type: "GET",
                data: {
                    category: category,
                    name: name,
                    page: page,
                    sortOrder: sortOrder
                },
                success: function(data) {
                    $("#result").html(data);
                }
            })
        }
        
        function nextPage(page, name, category, sortOrder) {
            $.ajax({
                url: '@Url.Action("GetDishes", "Dishes")',
                type: "GET",
                data: {
                    category: category,
                    name: name,
                    page: page,
                    sortOrder: sortOrder
                },
                success: function(data) {
                    $("#result").html(data);
                }
            })
        }
        
        function getDishes(){
            $.ajax({
                url: '@Url.Action("GetDishes", "Dishes")',
                type: "GET",
                data: {
                    category: $("#modelCategory").val(),
                    name: $("#modelName").val(),
                    page: $("#modelPage").val(),
                    sortOrder: $("#modelSort").val()        
                },
                success: function(data) {
                    $("#result").html(data);  
                }
            });
        }
        
        function clickedPage(page, name, category, sortOrder) {
            const active_page = page;
            var item = document.getElementsByClassName("page-item active");
            $(item[0]).toggleClass("active");
            $.ajax({
                url: '@Url.Action("GetDishes", "Dishes")',
                type: "GET",
                data: {
                    category: category,
                    name: name,
                    page: page,
                    sortOrder: sortOrder
                },
                success: function(data) {
                    $("#result").html(data);
                }
            })
            $("#page" + active_page).toggleClass("active");
        }
    </script>
}