@model List<Stock>

@if (Model.Count != 0)
{
    @foreach (var stock in Model)
    {
        <tr>
            <td style="vertical-align: middle; text-align: center">
                <img src="~/@stock.Avatar" style="width: 50px; height: 50px; border-radius: 40px" alt="">
            </td>
            <td style="vertical-align: middle; text-align: center">@stock.Name</td>
            <td style="vertical-align: middle; text-align: center">@stock.Type</td>
            <td style="vertical-align: middle; text-align: center">
                @if (stock.Validity == "По времени")
                {
                    <p>@stock.At.ToShortTimeString() - @stock.To.ToShortTimeString()</p>
                }
                else
                {
                    <p>@stock.At.ToShortDateString() - @stock.To.ToShortDateString()</p>
                }
            </td>
            <td style="vertical-align: middle; text-align: center">
                <img src="https://img.icons8.com/wired/24/000000/delete-forever.png" onclick="openModal('@stock.Id')" style="cursor: pointer;"/>
                <a asp-route-id="@stock.Id">
                    <img src="https://img.icons8.com/ios-glyphs/24/000000/edit.png"/>
                </a>
            </td>
        </tr>
    }   
}