@model Restaurant

@{
    ViewBag.Title = Model.NameRestaurant;
    Layout = "_Layout";
}

<style>
    #dropdown2{
        display: block;
    }
    #my-dr-ResInd{
          margin-left: 15px;
            background: #9ad9ea;
    }
    #my-dr-ResInd a{
                color: #262626;
                font-weight: 600;
                border-left: 2px solid #41728b;
    }
    #my-dr-ResInd a:hover{
        color: #262626;
    }
</style>
<div class="restaurants-index-container">
    <div class="ri-block1">
        <div class="ri-box-img">
            @if (!string.IsNullOrEmpty(Model.LogoPath))
            {
                <img src="~/@Model.LogoPath" alt="">

            }
            else
            {
                <img src="~/images/etc/none.png" alt="">
            }
        </div>
        <div class="ri-box-btn">
            <h3>@Model.NameRestaurant</h3>
            @if (!string.IsNullOrEmpty(Model.DomainName))
            {
                <p ><span>@Model.DomainName</span></p>
            }
            <a asp-action="Register" asp-controller="Restaurants" asp-route-edit="true" class="btn btn-primary">Редактировать</a>
        </div>
    </div>
    <div class="ri-block2">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">О ресторане</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">График работы</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Контакты</a>
            </li>
        </ul>
        <div class="tab-content content-idcontact" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p><span>Количество мест:</span> @Model.TotalNumberSeats</p>
                <p><span>Доступен для бронирования:</span> @Model.AvailableNumberSeats</p>
                <p><span>График и условия приема заказов и доставки:</span><br>
                    @Model.OrderConditions</p>
                <p><span>Условия бронирования столиков:</span><br>
                    @Model.BookingTerms</p>
                <p><span>Информация о ресторане:</span><br>
                    @Model.RestaurantInformation</p>
                
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">@Model.WorkSchedule</div>
            <div class="tab-pane fade " id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <p><span>Контактное лицо:</span> @Model.ContactPerson</p>
                <p><span>Номер телефона:</span> @Model.PhoneNumber</p>
                <p><span>Адрес:</span> @Model.Address</p>
            </div>
        </div>
    </div>
</div>




